%footer.main
  %section{class: 'divide-line'}
    %hr{class: 'slant left'}
    %hr{class: 'slant right'}

  .copyright
    = "copyright #{Time.now.year} brock houghton - all rights reserved"

  .credit designed by: ac media designs