%header.main
  %ul.social
    %li
      connect:
    %li
      = link_to 'Tumblr', 'http://brockhoughton.tumblr.com', target: '_blank', class: 'tumblr'
    %li
      = link_to 'Instagram', 'http://instagram.com/houghtonproductiondesign', target: '_blank', class: 'instagram'

  = render 'partials/navigation'

  %h1 Brock Houghton
  %h2 production designer

  .mobile-navigation
    = render 'partials/navigation'

  .clearfix

  %section{class: 'divide-line'}
    %hr{class: 'slant left'}
    %hr{class: 'slant right'}