%nav{class: 'main'}
  %ul
    %li
      = link_to 'reel', reel_path
    %li{class: 'period'} .
    %li
      = link_to 'archival', archival_path
    %li{class: 'period'} .
    %li
      = link_to 'contact', contact_path