= link_to '' do
  .feature-container
    .front
      %feature
        = image_tag 'http://cdn.recombu.com/mobile/images/news/M18739/1360772917_w670_h526.jpg', class: 'thumbnail'
        .play-button

    .back
      %feature
        = image_tag 'http://cdn.recombu.com/mobile/images/news/M18739/1360772917_w670_h526.jpg', class: 'thumbnail'


.title Bank of America
.director Dir. Juan Lacharias