%table.contact
  %tbody
    %tr
      %td
        %h6.contact-header COMMERICALS
      %td
        %h6.contact-header FEATURE FILM

    %tr
      %td
        United Talent Agency
        %br
        Robert Arakelian
        %br
        +1 310 860 3741
        %br
        arakelianr@unitedtalent.com
        %br
        = link_to 'www.utaproduction.com', 'http://www.utaproduction.com', target: '_blank'
      %td
        United Talent Agency
        %br
        Pete Franciosa
        %br
        +1 310 246 6047
        %br
        franciosap@unitedtalent.com
        %br
        = link_to 'www.utaproduction.com', 'http://www.utaproduction.com', target: '_blank'

%section.divide-line
  %hr.slant.left
  %hr.slant.right

.row
  .col-md-12.contact-direct
    Brock Houghton
    %br
    Phone: 323.449.6924