h6.contact-header {
  font: 20px 'neo-regular';
  margin: 0;
  padding: 0;
}

table.contact {
  width: 100%;
  font-size: 20px;

  td {
    width: 33%;

    a:link, a:visited {
      text-decoration: none;
      color: #000;
    }
  }
}