div.container {
  &.home {
    text-align: center;
    padding: 30px 0;
    margin-top: 10%;

    h1 {
      font: 50px 'neo-regular';
      margin: 0px;
    }

    h2 {
      color: #7f7e81;
      font-size: 34px;
      margin: 0 0 0 0;
    }

    // Splash arrows image
    img.home-arrows {
      margin: 30px 0;
    }

    nav.main {
      ul {
        li {
          a:link, a:visited {
            font-size: 32px;
          }
        }
      }
    }
  }
}