%h3.page-title archival

%section.videos
  - if @archive.count > 0
    %ul
      - @archive.each do |archive|
        %li= render 'partials/video', video: archive
  - else
    %h4.no-results No current archives