%h3.page-title reel

%section.videos
  - if @videos.count > 0
    %ul
      - @videos.each do |video|
        %li= render 'partials/video', video: video
  - else
    %h4{class: 'no-results'} No Current reel